<div class="row">
    <h1>Mis proyectos</h1>
    <div class="projectContainer">
        <div class="col-sm-12 col-md-7 col-lg-7 projectInfo">
            <h2>Portfolio web "Argentina Programa"</h2>
            <p>El portfolio web en el que estás situado. Hace uso de las tecnologías HTML5, CSS3, TypeScript, Angular, MySQL, Bootstrap, SpringBoot, JWT y Java. Mi primera página completamente funcional como Full-Stack Developer. Su código fuente se haya disponible en mi perfil de GitHub.</p>
            <div class="projectLink">
                <a href="https://github.com/NahuelPolo?tab=repositories" target=_blank><button type="button" class="btn btn-primary"type="submit">Ver en Github</button></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 projectImg">
            <img src="../../../assets/img/Portfolio-YoProgramo.png" class="img-fluid projectImgCtrl" alt="">
        </div>
        
    </div>
    
    <div class="projectContainer">
        <div class="col-sm-12 col-md-7 col-lg-7 projectInfo">
            <h2>Página web de prueba</h2>
            <p>Una página web creada también sólo en HTML5 y CSS3, pero haciendo uso de una básica función de JavaScript. Fue creada para un curso de introducción a programación web.</p>
            <div class="projectLink">
                <a id="scnd-button" href="https://firedust97.github.io/Proyecto-web/index.html" target=_blank><button type="button" class="btn btn-primary"type="submit">Ver página en vivo</button></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 projectImg">
            <img src="../../../assets/img/test-page.png" class="img-fluid projectImgCtrl" alt="">
        </div>
    </div>
</div>