.row{
    padding: 34px 10px 20px 20px;
    margin: 0px;
}

div{
    background-color: rgb(191 191 191);
}

.row h1{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 8px;
}

.edu-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}

.edu-home button{
    font-family: 'Nunito';
	font-weight: 600;
    color: rgb(0, 0, 0);
}

li{
    line-height: 0.7;
}

li p{
    padding-top: 10px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.expDesc p{
    padding: 29px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.expName{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 8px;
    text-align: center;
}

.explab-1{
    border-right: 1px solid black;
    padding-right: 13px;
}

.explab-1 p{
    padding-left: 3px;
}

.control-btns{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13px;
}

.control-btns i{
    color: #E4E4E6;
}

.control-btns button{
    border: none !important;
    padding: 4px 7px;
    border-radius: 18px;
}

.control-btns .edit-btn{
    background-color: rgb(1, 194, 27);
}

.control-btns .delete-btn{
    background-color: rgb(240, 22, 22);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li::marker{
    text-align: center !important;
}

.exp-separator hr{
    display: block;
    margin-top: 21px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 21px;
}

hr{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}

/* Media Queries */

@media(max-width: 473px){
    .edu-home{
        flex-direction: column;
    }
}

@media(max-width: 991px){
    .explab-1 p{
        line-height: 1.3rem;
    }
}