<div class="row">
    <div class="exp-home">
        <h1>Experiencia</h1>
        <button type="button" class="btn btn-info" routerLink="/nuevaexp" *ngIf="isLogged">Agregar nueva experiencia</button>
    </div>
    <div class="xpJobs" *ngFor="let Experiencia of exp">
        <div class="exp-separator col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
        <ul>
            <div class="col-lg-2 explab-1">
                <div class="control-btns">
                    <div *ngIf="isLogged"><button class="edit-btn" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button></div>

                    <div *ngIf="isLogged"><button class="delete-btn" (click)="delete(Experiencia.id)"><i class="bi bi-trash-fill"></i></button></div>
                </div>
                <li>
                    <h1 class="expName">{{Experiencia.nombreE}}</h1>
                    <p>{{Experiencia.aniosE1}} - {{Experiencia.aniosE2}}</p>
                </li>
            </div>
            <div class="expDesc col-lg-7">
                <p>{{Experiencia.descripcionE}}</p>
            </div>
            
        </ul>
        <div class="exp-separator col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
    </div>
</div>
<div class="endhr col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
</div>