<div class="row" id="mainContainer">
    <div>
        <h1>Hard & Soft Skills</h1>
    </div>
    <div class="row hs-values">
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="93"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#e54c21'"
                [outerStrokeGradientStopColor]="'#f48e5e'"
                [imageSrc]="'assets/img/HTML5_logo.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [showImage]="true"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#267fdf'"
                [outerStrokeGradientStopColor]="'#6bb5ff'"
                [imageSrc]="'assets/img/CSS3_logo.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [showImage]="true"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="68"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#dd0031'"
                [outerStrokeGradientStopColor]="'#0072c4'"
                [imageSrc]="'assets/img/ng-ts_logo.png'"
                [imageHeight]="66"
                [imageWidth]="90"
                [showImage]="true"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="97"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#ebde34'"
                [outerStrokeGradientStopColor]="'#c21b3a'"
                [showTitle]="true"
                [titleFontSize]="'22px'"
                [showImage]="false"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="78"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#ebde34'"
                [outerStrokeGradientStopColor]="'#c21b3a'"
                [title]="'Inglés'"
                [showTitle]="true"
                [showImage]="false"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="98"
                [maxPercent]="100"
                [radius]="80"
                [innerStrokeColor]="'#ABABAB'"
                [animation]="true"
                [animationDuration]="800"
                [space]="-19"
                [outerStrokeColor]="'#ebde34'"
                [outerStrokeGradientStopColor]="'#c21b3a'"
                [showTitle]="true"
                [title]="'Creatividad'"
                [showImage]="false"
                [renderOnClick]="false"
            ></circle-progress>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
</div>